:root {
  --primary: #64748b;
  --star: #f59e0b;
}

html {
  box-sizing: border-box;
  font-size: 20px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(85, 85, 85);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.container {
  background-color: white;
  box-shadow: 0 0 5px black;
  margin: auto;

  /* flexbox kicks in */
  display: flex;
}

.left--section {
  background-color: var(--primary);
  color: white;
  flex: 1;
}

.right--section {
  flex: 2;
}

/*=====LEFT SECTION=====*/
.left--section-general {
  text-align: center;
}

.left--section-general img {
  border: 3px solid white;
  border-radius: 50%;
  width: 50%;
  margin-top: 30px;
}

.left--section-general h1 {
  margin: 0 0 10px;
}

.section--heading {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  margin-top: 50px;
  padding: 5px 40px;
}

.left--section-detail > div {
  padding: 0 40px;
}

.left--section-detail > div > * {
  margin: 25px 0 35px;
}

.contact {
  text-decoration: none;
}

.margin-right {
  width: 1rem;
  margin-right: 10px;
}

.bold {
  font-weight: bold;
  font-size: 1.25rem;
}

.left--section-list li {
  margin: 5px 0 0 20px;
  line-height: 1.6rem;
}

/*=====RIGHT SECTION=====*/
.right--section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right--section > div {
  margin-bottom: 40px;
}

.right--section-heading {
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.8rem;
}

.right--section-content {
  line-height: 1.6rem;
  margin-top: 25px;
}

.right--section-content .stack {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 0;
}

.right--section-content ul {
  /* margin-top: 10px; */
  margin-left: 1rem;
  margin-top: 10px;
}

.right--section-content ul li {
  margin: 5px 0;
}

.right--section-content li {
  line-height: 1.5rem;
}

.right--section-content > div {
  margin-bottom: 50px;
}

.right--section-icon {
  background-color: var(--primary);
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subheading {
  color: #aaa;
  display: flex;
  justify-content: space-between;
  /* margin-top: 0.5rem; */
  font-size: 1.05rem;
  font-weight: 500;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.italic {
  font-style: italic;
}

.fav--project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fav--project-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.yellow-star {
  font-size: 1rem;
  color: var(--star);
}
