html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ddd;
  color: rgb(85, 85, 85);
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  padding: 70px 0;
}
a {
  color: inherit;
}
.container {
  background-color: white;
  margin: auto;
  min-height: 100vh;
  width: 800px;

  /* flexbox kicks in */
  display: flex;
}
.left--section {
  background-color: #d11e2f;
  color: white;
  flex-basis: 35%;
}
.right--section {
  flex-basis: 65%;
}

/*=====LEFT SECTION=====*/
.left--section-general {
  text-align: center;
}
.left--section-general img {
  border: 3px solid white;
  border-radius: 50%;
  width: 50%;
  margin-top: 30px;
}
.left--section-general h2 {
  margin: 0 0 10px;
}
.section--heading {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding: 5px 20px;
}
.left--section-detail > div {
  font-size: 13px;
  padding: 0 20px;
}
.left--section-detail > div > * {
  margin: 15px 0;
}
.contact {
  text-decoration: none;
}
.margin-right {
  margin-right: 10px;
}
.bold {
  font-weight: bold;
  font-size: 16px;
}
.left--section-list li {
  font-size: 13px;
  margin: 5px 0 0 20px;
}

/*=====RIGHT SECTION=====*/
.right--section {
  padding: 50px 30px;
}
.right--section > div {
  margin-bottom: 40px;
}
.right--section-heading {
  color: #d11e2f;
  display: flex;
  align-items: center;
}
.right--section-content {
  margin-top: 15px;
  font-size: 13px;
}
.right--section-content > div {
  margin-bottom: 20px;
}
.right--section-content ul {
  margin-top: 10px;
  margin-left: 13px;
}
.right--section-content ul li {
  margin: 2px 0 5px;
}
.right--section-icon {
  background-color: #d11e2f;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  margin-right: 10px;
  padding: 6px;
}
.subheading {
  color: #aaa;
}
.summary {
  line-height: 20px;
}
.italic {
  font-style: italic;
}
